<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Table_create for storing data from database</h1>
            <table class="table table-border table-bordered text-center shadow">
                <tr>
                    <th>user id</th>
                    <th>user name</th>
                    <th>user email</th>
                    <th>user password</th>
                    <th>user delete</th>
                    <th>user update</th>
                </tr>
                {% for user in users %}
                <tr> 
                    <td>{{user.id}}</td>
                    <td>{{user.uname}}</td>
                    <td>{{user.uemail}}</td>
                    <td>{{user.upassword}}</td>
                    <td><a href="/delete/{{user.id}}" class="btn btn-danger btn-sm">Delete</a></td>
                    <td><a href="/update/{{user.id}}" class="btn btn-success btn-sm">update</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>